<h1><%= @dish.name %></h1>
<p><%= @dish.description %></p>
<%=  require 'pry'; binding.pry %>
<h3>Ingredients</h3>
<p><u>Name -- Calories</p></u>
<% @dish.ingredients.each do |ingredient| %>
  <%= ingredient.name %>
  <%= ingredient.calories %> <br>
<% end %>

<%= "Total Calories in This Meal" %>