<h1><%= @dish.name %></h1>
<p><%= @dish.description %></p>

<section class="ingredients">
  <h3>Ingredients</h3>
  <% @dish.ingredients.each do | ingredient | %>
    <section id="ingredient-<%= ingredient.id %>", style="display:inline-block;">
<!--      <div style="display: inline-block">-->
        <p><%= ingredient.name %></p>
        <%= button_to "Remove Ingredient",
                      dish_ingredient_path(@dish),
                      method: :delete,
                      data: {
                        turbo: false,
                      },
                      params: {
                        ingredient_id: ingredient.id
                      }
        %>
<!--      </div>-->
    </section>
  <% end %>
</section>

<p>Calories: <%= @dish.calories %></p>
<p>Chef: <%= @dish.chef.name %></p>

<%= form_with url: dish_ingredients_path(@dish), method: :post, data: {turbo: false} do |f| %>
  <%= f.label :ingredient_id, "Add Ingredient" %>
  <%= f.text_field :ingredient_id %>

  <%= f.submit "Add" %>
<% end %>