<%= @dish.name %>
<%= @dish.description %>
<%= "Ingredients: #{@dish.list_ingredients}" %>
<%= "Total Calories: #{@dish.total_calories}" %>
<%= @dish.chef.name %>

<section id="add_ingredient_form">
  <%= form_with url: "/dishes/#{@dish.id}/ingredients", method: :post, data: { turbo: false }, local: true do |form| %>
    <%= form.label "Ingredient Id" %>
    <%= form.number_field :ingredient_id %>
    <%= form.submit "Add Ingredient" %>
  <% end %>
</section>