<h1>Dish Info</h1>

<p>Dish's name: <%= @dish.name %></p>
<p>Dish's description: <%= @dish.description %></p>
<p>Ingredients: <%= @dish.list_ingredients.to_sentence %></p>
<p>Total calories: <%= @dish.total_calories %></p>
<p>Chef's name: <%= @dish.chef.name %></p>
<p>Delete Ingredient: <% @dish.ingredients.each do |ingredient| %></p>
<%= ingredient.name %><%= button_to "Delete #{ingredient.name}", "/dishes/#{@dish.id}", method: :delete, params: { :ingredient_id => ingredient.id } %>
<% end %>

<%= form_with url: "/dishes/#{@dish.id}/ingredients", method: :post, data: {turbo:false}, local: true do |form| %>
  
  <%= form.label :ingredient_id, "Ingredient ID" %>
  <%= form.text_field :ingredient_id %>

  <%= form.submit "Submit" %>
<% end %>