<h1><%= @dish.name %></h1>
<p>Description: <%= @dish.description %></p>
<p>Chef: <%= @dish.chef.name %></p>


<h2>Ingredients</h2>
<p>Ingredients: 
  <% @dish.ingredients.each do |ingredient| %>
    <%= ingredient.name %>
  <% end %>
</p>

<h2>Calories</h2>
<p>Total Calories: <%= @dish.total_calories %></p>

<%= form_with url: dish_ingredients_path(@dish), method: :post, data: { turbo: false } do |f| %>
  <%= f.label :ingredient %>
  <%= f.text_field :ingredient %>

  <%= f.submit "Submit" %>
<% end %>