  <h1><%= @dish.name %></h1>
  <p><%= @dish.description %></p>
  <h2>Ingredients</h2>
 <% @ingredients.each do |i| %>
  <div id="ingredient-<%= i.id %>">
    <li><%= i.name %></li>
    <%= button_to "Delete #{i.name}", "/dishes/#{@dish.id}/ingredients/#{i.id}", method: :delete %>
  </div>
 <% end %>

 <h2>Total Calories: <%= @dish.total_calories%></h2>

 <h2>Chef for this Dish: <%= @dish.chef_name %></h2>

 <h2>Add an Ingredient</h2>
 <%= form_with url:"/dishes/#{@dish.id}", method: :patch, local: :true do |f| %>
  <%= f.label "Search for an ingredient by ID:" %>
    <%= f.text_field :ingredient_id %>
    <%= f.submit "Add Ingredient" %>
  <% end %>
