<h1>Dish Info</h1>

<p>Dish's name: <%= @dish.name %></p>
<p>Dish's description: <%= @dish.description %></p>
<p>Ingredients: <%= @dish.list_ingredients %></p>
<p>Total calories: <%= @dish.total_calories %></p>
<p>Chef's name: <%= @dish.chef.name %></p>