<h1><%= @dish.name %></h1>
<p><%= @dish.description %></p>

<h3>Ingredients</h3>
<p><u>Name -- Calories</p></u>
<% @dish.ingredients.each do |ingredient| %>
  <%= ingredient.name %>
  <%= ingredient.calories %> <br>
<% end %>

<h4>Total Calories in This Meal: <%= "#{@dish.total_calories}" %></h4>

<h3>Think it needs something more?</h3>
<%= form_with url:"/dishes/#{@dish.id}", method: :patch, local: true do |f| %>
  <%= f.label "Ingredient ID" %>
  <%= f.number_field :add_ingredient %>
  <%= f.submit "Submit" %>
<% end %>