<h1><%= @dish.name %> Information Page</h1>
<br>
<p>Total Calories: <%= @dish.total_calories %></p>
<p>Dish Description: <%= @dish.description %></p>
<p>Chef: <%= @dish.chef.name %></p>
<br>
<h5>Dish Ingredients</h5>
<% @dish.ingredients.each do |ingredient| %>
  <%= ingredient.name %>
<% end %>
<br>
<h5>Add New Ingredient</h5>
<%= form_with url: dish_dish_ingredients_path(@dish.id), method: :post, data: { turbo: false } do |form| %>
  <%= form.label :ingredient_id, 'Ingredient ID' %>
  <%= form.number_field :ingredient_id %>
  <%= form.submit 'Add Ingredient' %>
<% end %>