<p><%= @dish.name %></p>
<p><%= @dish.description %></p>
<p><% @dish.ingredients.each do |ingredient| %></p>
  <%= ingredient.name %>
<% end  %><br>

<%= "Total Calories: #{@dish.total_calories}" %><br>
<%= @dish.chef.name %>


