<p><%= @dish.name %></p>
<p><%= @dish.description %></p>
<p><% @dish.ingredients.each do |ingredient| %></p>
  <%= ingredient.name %>
<% end  %><br>

<%= "Total Calories: #{@dish.total_calories}" %><br>
<%= @dish.chef.name %><br>

<%= form_with url: "/dishes/#{@dish.id}", method: :patch, data: { turbo: false } do |form| %>
  <%= form.label "Add an ingredient to this dish" %>
  <%= form.text_field :ingredient_id %>
  <%= form.submit "Submit" %>
<% end %>


